# Copyright (C) 2026 SharpEmu Emulator Project
# SPDX-License-Identifier: GPL-2.0-or-later

[Desktop Entry]
Name=SharpEmu
Comment=PS4 Emulator
Exec=SharpEmu
Icon=SharpEmu
Terminal=false
Type=Application
Categories=Game;Emulator;
StartupNotify=true
